# [데이터 연결하기]

# concat 메서드 사용하기
## * concat 메서드는 위에서 아래로 데이터를 연결

In [1]:
import pandas as pd

df1 = pd.read_csv('../data/concat_1.csv') 
df2 = pd.read_csv('../data/concat_2.csv') 
df3 = pd.read_csv('../data/concat_3.csv')
print(df1)
print('***'*10)
print(df2)
print('***'*10)
print(df3)
print('***'*10)
row_concat = pd.concat([df1, df2, df3]) #df1, df2, df3을 연결한 row_concat 생성
print(row_concat)
print(row_concat.index)
print(row_concat.keys())

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3
******************************
    A   B   C   D
0  a4  b4  c4  d4
1  a5  b5  c5  d5
2  a6  b6  c6  d6
3  a7  b7  c7  d7
******************************
     A    B    C    D
0   a8   b8   c8   d8
1   a9   b9   c9   d9
2  a10  b10  c10  d10
3  a11  b11  c11  d11
******************************
     A    B    C    D
0   a0   b0   c0   d0
1   a1   b1   c1   d1
2   a2   b2   c2   d2
3   a3   b3   c3   d3
0   a4   b4   c4   d4
1   a5   b5   c5   d5
2   a6   b6   c6   d6
3   a7   b7   c7   d7
0   a8   b8   c8   d8
1   a9   b9   c9   d9
2  a10  b10  c10  d10
3  a11  b11  c11  d11
Int64Index([0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3], dtype='int64')
Index(['A', 'B', 'C', 'D'], dtype='object')

In [2]:
print(row_concat.iloc[3, ]) #4번째 행 추출

A    a3
B    b3
C    c3
D    d3
Name: 3, dtype: object

# 데이터프레임에 시리즈 연결하기

In [3]:
new_row_series = pd.Series(['n1', 'n2', 'n3', 'n4'])  #새로운 시리즈 생성

print(pd.concat([df1, new_row_series])) #원래 있던 df1데이터프레임과 시리즈 연결

     A    B    C    D    0
0   a0   b0   c0   d0  NaN
1   a1   b1   c1   d1  NaN
2   a2   b2   c2   d2  NaN
3   a3   b3   c3   d3  NaN
0  NaN  NaN  NaN  NaN   n1
1  NaN  NaN  NaN  NaN   n2
2  NaN  NaN  NaN  NaN   n3
3  NaN  NaN  NaN  NaN   n4

시리즈는 행이 1개라도 반드시 데이터프레임에 담아 연결해야 한다.
-> 시리즈에는 열 이름이 없어서 '0'이라는 열 이름으로 추가되기 때문에

# 행 1개로 구성된 데이터프레임 생성하여 연결하기

In [4]:
new_row_df = pd.DataFrame([['n1', 'n2', 'n3', 'n4']], columns = ['A', 'B', 'C', 'D']) #1개의 행을 가지는 데이터프레임['n1', 'n2', 'n3', 'n4']를 ABCD열에 맞춰 새로운 열 생성
print(new_row_df)
print(pd.concat([df1, new_row_df])) #df와 새로운 열 연결

    A   B   C   D
0  n1  n2  n3  n4
    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3
0  n1  n2  n3  n4

In [5]:
#행이 1개인 경우 concat이 아닌 append를 사용할 수 있다.

print(df1.append(new_row_df))

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3
0  n1  n2  n3  n4

C:\Users\USER\AppData\Local\Temp\ipykernel_20556\3025385238.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  print(df1.append(new_row_df))

In [6]:
#append와 딕셔너리 사용해서 연결하기

data_dict = {'A' : 'n1', 'B' : 'n2', 'C' : 'n3', 'D' : 'n4'}
print(df1.append(data_dict, ignore_index = True)) #ignore_index = True 를 설정하면 인덱스가 원래 있던 데이터에 연결되어 바뀜.

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3
4  n1  n2  n3  n4

C:\Users\USER\AppData\Local\Temp\ipykernel_20556\389472802.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  print(df1.append(data_dict, ignore_index = True)) #ignore_index = True 를 설정하면 인덱스가 원래 있던 데이터에 연결되어 바뀜.

# 다양한 방법으로 데이터 연결하기

## 1. ignore_index 사용

In [7]:
row_concat_i = pd.concat([df1, df2, df3], ignore_index = True) #데이터를 연결 후 데이터프레임의 인덱스를 0으로 다시 지정
print(row_concat_i)

      A    B    C    D
0    a0   b0   c0   d0
1    a1   b1   c1   d1
2    a2   b2   c2   d2
3    a3   b3   c3   d3
4    a4   b4   c4   d4
5    a5   b5   c5   d5
6    a6   b6   c6   d6
7    a7   b7   c7   d7
8    a8   b8   c8   d8
9    a9   b9   c9   d9
10  a10  b10  c10  d10
11  a11  b11  c11  d11

## 2. 열 방향으로 데이터 연결 - concat 메서드의 axis 인자를 1로 지정하기

In [8]:
col_concat = pd.concat([df1, df2, df3], axis = 1)
col_concat

    A   B   C   D   A   B   C   D    A    B    C    D
0  a0  b0  c0  d0  a4  b4  c4  d4   a8   b8   c8   d8
1  a1  b1  c1  d1  a5  b5  c5  d5   a9   b9   c9   d9
2  a2  b2  c2  d2  a6  b6  c6  d6  a10  b10  c10  d10
3  a3  b3  c3  d3  a7  b7  c7  d7  a11  b11  c11  d11

## 3. 해당 열 이름의 데이터만 추출하기

In [9]:
#데이터프레임에서 같은 열이름이 반복될 때, 해당되는 열 이름의 데이터만 추출할 수 있다

print(col_concat['A']) #열이름이 A인 데이터만 추출

    A   A    A
0  a0  a4   a8
1  a1  a5   a9
2  a2  a6  a10
3  a3  a7  a11

## 4. 새로운 열 추가하기

In [10]:
col_concat['new_col_list'] = ['n1', 'n2', 'n3', 'n4']
print(col_concat)
print(col_concat.keys()) #keys메서드로 인덱스 확인

    A   B   C   D   A   B   C   D    A    B    C    D new_col_list
0  a0  b0  c0  d0  a4  b4  c4  d4   a8   b8   c8   d8           n1
1  a1  b1  c1  d1  a5  b5  c5  d5   a9   b9   c9   d9           n2
2  a2  b2  c2  d2  a6  b6  c6  d6  a10  b10  c10  d10           n3
3  a3  b3  c3  d3  a7  b7  c7  d7  a11  b11  c11  d11           n4
Index(['A', 'B', 'C', 'D', 'A', 'B', 'C', 'D', 'A', 'B', 'C', 'D',
       'new_col_list'],
      dtype='object')

## 5. 열 이름 이어서 다시 지정하기

In [11]:
pd.concat([df1, df2, df3], axis = 1, ignore_index = True) #ignore_index = True로 열 이름 다시 지정

   0   1   2   3   4   5   6   7    8    9    10   11
0  a0  b0  c0  d0  a4  b4  c4  d4   a8   b8   c8   d8
1  a1  b1  c1  d1  a5  b5  c5  d5   a9   b9   c9   d9
2  a2  b2  c2  d2  a6  b6  c6  d6  a10  b10  c10  d10
3  a3  b3  c3  d3  a7  b7  c7  d7  a11  b11  c11  d11

## 6. hierarchical index with keys and names options

In [12]:
#keys를 사용해 반복되는 각 데이터에 한 계층 위의 인덱스를 지정할 수 있다.
#names를 사용해 계층 위의 인덱스를 종합해서 정의할 수 있다.

pd.concat(
    [df1, df2, df3], 
    keys = ['0', '1', '2'], 
    names = ['Number', None],
)

            A    B    C    D
Number
0      0   a0   b0   c0   d0
       1   a1   b1   c1   d1
       2   a2   b2   c2   d2
       3   a3   b3   c3   d3
1      0   a4   b4   c4   d4
       1   a5   b5   c5   d5
       2   a6   b6   c6   d6
       3   a7   b7   c7   d7
2      0   a8   b8   c8   d8
       1   a9   b9   c9   d9
       2  a10  b10  c10  d10
       3  a11  b11  c11  d11

In [13]:
#To reset an index and turn it into a data column, you can use reset_index()

pd.concat(
    [df1, df2, df3],
    keys = ['0', '1', '2'],
    names = ['Number', None],
).reset_index(level=0)

  Number    A    B    C    D
0      0   a0   b0   c0   d0
1      0   a1   b1   c1   d1
2      0   a2   b2   c2   d2
3      0   a3   b3   c3   d3
0      1   a4   b4   c4   d4
1      1   a5   b5   c5   d5
2      1   a6   b6   c6   d6
3      1   a7   b7   c7   d7
0      2   a8   b8   c8   d8
1      2   a9   b9   c9   d9
2      2  a10  b10  c10  d10
3      2  a11  b11  c11  d11

## 7. 공통 열과 공통 인덱스만 연결하기 - (join - 'inner')사용

In [14]:
df1.columns = ['A', 'B', 'C', 'D'] 
df2.columns = ['E', 'F', 'G', 'H'] 
df3.columns = ['A', 'C', 'F', 'H']
print(df1)
print(type(df1))

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3
<class 'pandas.core.frame.DataFrame'>

In [15]:
print(df2)
print(type(df2))

    E   F   G   H
0  a4  b4  c4  d4
1  a5  b5  c5  d5
2  a6  b6  c6  d6
3  a7  b7  c7  d7
<class 'pandas.core.frame.DataFrame'>

In [16]:
print(df3)
print(type(df3))

     A    C    F    H
0   a8   b8   c8   d8
1   a9   b9   c9   d9
2  a10  b10  c10  d10
3  a11  b11  c11  d11
<class 'pandas.core.frame.DataFrame'>

In [17]:
row_concat = pd.concat([df1, df2, df3]) 
row_concat

     A    B    C    D    E    F    G    H
0   a0   b0   c0   d0  NaN  NaN  NaN  NaN
1   a1   b1   c1   d1  NaN  NaN  NaN  NaN
2   a2   b2   c2   d2  NaN  NaN  NaN  NaN
3   a3   b3   c3   d3  NaN  NaN  NaN  NaN
0  NaN  NaN  NaN  NaN   a4   b4   c4   d4
1  NaN  NaN  NaN  NaN   a5   b5   c5   d5
2  NaN  NaN  NaN  NaN   a6   b6   c6   d6
3  NaN  NaN  NaN  NaN   a7   b7   c7   d7
0   a8  NaN   b8  NaN  NaN   c8  NaN   d8
1   a9  NaN   b9  NaN  NaN   c9  NaN   d9
2  a10  NaN  b10  NaN  NaN  c10  NaN  d10
3  a11  NaN  b11  NaN  NaN  c11  NaN  d11

In [18]:
#df1, df2, df3의 공통 열만 골라 연결하기

print(pd.concat([df1, df2, df3], join = 'inner')) #인덱스만 동일, 공통열은 없음

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3]

In [19]:
#df1, df3의 공통 열만 골라 연결하기

pd.concat([df1, df3], ignore_index = False, join = 'inner')

     A    C
0   a0   c0
1   a1   c1
2   a2   c2
3   a3   c3
0   a8   b8
1   a9   b9
2  a10  b10
3  a11  b11

## 8. 데이터프레임을 행 방향으로 연결 - 열 방향으로 연결과 동일(join - 'inner') 사용, axis = 1로 지정

In [22]:
df1.index = [0, 1, 2, 3]
df2.index = [4, 5, 6, 7]
df3.index = [0, 2, 5, 7]
print(df1)
print('***'*10)
print(df2)
print('***'*10)
print(df3)

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3
******************************
    E   F   G   H
4  a4  b4  c4  d4
5  a5  b5  c5  d5
6  a6  b6  c6  d6
7  a7  b7  c7  d7
******************************
     A    C    F    H
0   a8   b8   c8   d8
2   a9   b9   c9   d9
5  a10  b10  c10  d10
7  a11  b11  c11  d11

In [23]:
col_concat = pd.concat([df1, df2, df3], axis = 1) #행 방향으로 연결
print(col_concat)

     A    B    C    D    E    F    G    H    A    C    F    H
0   a0   b0   c0   d0  NaN  NaN  NaN  NaN   a8   b8   c8   d8
1   a1   b1   c1   d1  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2   a2   b2   c2   d2  NaN  NaN  NaN  NaN   a9   b9   c9   d9
3   a3   b3   c3   d3  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
4  NaN  NaN  NaN  NaN   a4   b4   c4   d4  NaN  NaN  NaN  NaN
5  NaN  NaN  NaN  NaN   a5   b5   c5   d5  a10  b10  c10  d10
6  NaN  NaN  NaN  NaN   a6   b6   c6   d6  NaN  NaN  NaN  NaN
7  NaN  NaN  NaN  NaN   a7   b7   c7   d7  a11  b11  c11  d11

In [25]:
print(pd.concat([df1, df3], axis = 1, join = 'inner')) #공통된 행만 골라 연결

    A   B   C   D   A   C   F   H
0  a0  b0  c0  d0  a8  b8  c8  d8
2  a2  b2  c2  d2  a9  b9  c9  d9

# merge 메서드 사용하기

In [27]:
#파일 불러오기
person = pd.read_csv('../data/survey_person.csv') 
site = pd.read_csv('../data/survey_site.csv') 
survey = pd.read_csv('../data/survey_survey.csv') 
visited = pd.read_csv('../data/survey_visited.csv')

print(person)
print('***'*10)
print(site)
print('***'*10)
print(survey)
print('***'*10)
print(visited)

      ident   personal    family
0      dyer    William      Dyer
1        pb      Frank   Pabodie
2      lake   Anderson      Lake
3       roe  Valentina   Roerich
4  danforth      Frank  Danforth
******************************
    name    lat    long
0   DR-1 -49.85 -128.57
1   DR-3 -47.15 -126.72
2  MSK-4 -48.87 -123.40
******************************
    taken person quant  reading
0     619   dyer   rad     9.82
1     619   dyer   sal     0.13
2     622   dyer   rad     7.80
3     622   dyer   sal     0.09
4     734     pb   rad     8.41
5     734   lake   sal     0.05
6     734     pb  temp   -21.50
7     735     pb   rad     7.22
8     735    NaN   sal     0.06
9     735    NaN  temp   -26.00
10    751     pb   rad     4.35
11    751     pb  temp   -18.50
12    751   lake   sal     0.10
13    752   lake   rad     2.19
14    752   lake   sal     0.09
15    752   lake  temp   -16.00
16    752    roe   sal    41.60
17    837   lake   rad     1.46
18    837   lake   sal     0.21
19    837    roe   sal    22.50
20    844    roe   rad    11.25
******************************
   ident   site       dated
0    619   DR-1  1927-02-08
1    622   DR-1  1927-02-10
2    734   DR-3  1939-01-07
3    735   DR-3  1930-01-12
4    751   DR-3  1930-02-26
5    752   DR-3         NaN
6    837  MSK-4  1932-01-14
7    844   DR-1  1932-03-22

In [29]:
visited_subset = visited.loc[[0, 2, 6], ] #visited 데이터프레임의 0, 2, 6행만 visited_subset에 저장
print(visited_subset)

   ident   site       dated
0    619   DR-1  1927-02-08
2    734   DR-3  1939-01-07
6    837  MSK-4  1932-01-14

In [ ]:
#merge 메서드는 메서드를 사용한 데이터프레임(site)을 왼쪽지정, 첫번째 인잣값으로 지정한 데이터프레임(visited_subset)을 오른쪽으로 지정
#left_on, right_on 인자는 값이 일치해야 할 왼쪽과 오른쪽 데이터프레임의 열을 지정한다.
#즉, 왼쪽 데이터 프레임(site)의 열(name)과 오른쪽 데이터프레임(visited)의 열(site)값이 일치하면 왼쪽 데이터 프레임 기준으로 연결

In [30]:
o2o_merge = site.merge(visited_subset, left_on = 'name', right_on = 'site')
print(o2o_merge) 
#site의 name인 (DR-1, DR-3, MSK-4)와, visited_subset의 site인 (DR-1, DR-3, MSK-4)가 일치.
#일치하므로 왼쪽 데이터프레임 기준(site) 연결해서 오른쪽에 visited_subset 연결

    name    lat    long  ident   site       dated
0   DR-1 -49.85 -128.57    619   DR-1  1927-02-08
1   DR-3 -47.15 -126.72    734   DR-3  1939-01-07
2  MSK-4 -48.87 -123.40    837  MSK-4  1932-01-14

In [31]:
ps = person.merge(survey, left_on = 'ident', right_on = 'person') #person의 ident와 survey의 person 연결
vs = visited.merge(survey, left_on = 'ident', right_on = 'taken') #visited의 ident와 survey의 taken 연결

print(ps)

   ident   personal   family  taken person quant  reading
0   dyer    William     Dyer    619   dyer   rad     9.82
1   dyer    William     Dyer    619   dyer   sal     0.13
2   dyer    William     Dyer    622   dyer   rad     7.80
3   dyer    William     Dyer    622   dyer   sal     0.09
4     pb      Frank  Pabodie    734     pb   rad     8.41
5     pb      Frank  Pabodie    734     pb  temp   -21.50
6     pb      Frank  Pabodie    735     pb   rad     7.22
7     pb      Frank  Pabodie    751     pb   rad     4.35
8     pb      Frank  Pabodie    751     pb  temp   -18.50
9   lake   Anderson     Lake    734   lake   sal     0.05
10  lake   Anderson     Lake    751   lake   sal     0.10
11  lake   Anderson     Lake    752   lake   rad     2.19
12  lake   Anderson     Lake    752   lake   sal     0.09
13  lake   Anderson     Lake    752   lake  temp   -16.00
14  lake   Anderson     Lake    837   lake   rad     1.46
15  lake   Anderson     Lake    837   lake   sal     0.21
16   roe  Valentina  Roerich    752    roe   sal    41.60
17   roe  Valentina  Roerich    837    roe   sal    22.50
18   roe  Valentina  Roerich    844    roe   rad    11.25

In [32]:
print(vs)

    ident   site       dated  taken person quant  reading
0     619   DR-1  1927-02-08    619   dyer   rad     9.82
1     619   DR-1  1927-02-08    619   dyer   sal     0.13
2     622   DR-1  1927-02-10    622   dyer   rad     7.80
3     622   DR-1  1927-02-10    622   dyer   sal     0.09
4     734   DR-3  1939-01-07    734     pb   rad     8.41
5     734   DR-3  1939-01-07    734   lake   sal     0.05
6     734   DR-3  1939-01-07    734     pb  temp   -21.50
7     735   DR-3  1930-01-12    735     pb   rad     7.22
8     735   DR-3  1930-01-12    735    NaN   sal     0.06
9     735   DR-3  1930-01-12    735    NaN  temp   -26.00
10    751   DR-3  1930-02-26    751     pb   rad     4.35
11    751   DR-3  1930-02-26    751     pb  temp   -18.50
12    751   DR-3  1930-02-26    751   lake   sal     0.10
13    752   DR-3         NaN    752   lake   rad     2.19
14    752   DR-3         NaN    752   lake   sal     0.09
15    752   DR-3         NaN    752   lake  temp   -16.00
16    752   DR-3         NaN    752    roe   sal    41.60
17    837  MSK-4  1932-01-14    837   lake   rad     1.46
18    837  MSK-4  1932-01-14    837   lake   sal     0.21
19    837  MSK-4  1932-01-14    837    roe   sal    22.50
20    844   DR-1  1932-03-22    844    roe   rad    11.25

## left_on, right_on에 전달하는 값은 여러개도 가능하다.

In [33]:
ps_vs = ps.merge(vs, left_on = ['ident', 'taken', 'quant', 'reading'], right_on = ['person', 'ident', 'quant', 'reading'])

In [34]:
print(ps_vs.loc[0, ])

ident_x           dyer
personal       William
family            Dyer
taken_x            619
person_x          dyer
quant              rad
reading           9.82
ident_y            619
site              DR-1
dated       1927-02-08
taken_y            619
person_y          dyer
Name: 0, dtype: object