<a href="https://colab.research.google.com/github/younzk/rookie-projects/blob/main/4.2%20Pandas_Series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**bold text**#4.2 Pandas - Series Class

## 시리즈 생성

(1) 하나의 열이 되는 데이터를 리스트나 일차원 배열을 준비한다.

(2) 인덱스 길이는 데이터의 길이와 같아야 한다.

(3) 인덱스의 라벨은 문자열뿐만 아니라 날짜, 시간, 정수도 가능하다.

In [ ]:
import pandas as pd
s = pd.Series([9904312, 3448737, 2890451, 2466052],
              index=["서울", "부산", "인천", "대구"])
s

서울    9904312
부산    3448737
인천    2890451
대구    2466052
dtype: int64

In [ ]:
pd.Series(range(10, 14),
index = ["서울", "부산", "인천", "대구"])

서울    10
부산    11
인천    12
대구    13
dtype: int64

In [ ]:
#인덱스를 지정하지 않으면 시리즈의 인덱스는 0부터 시작하게 된다.
pd.Series(range(10, 14))

0    10
1    11
2    12
3    13
dtype: int64

In [ ]:
#시리즈의 인덱스 속성
s.index

Index(['서울', '부산', '인천', '대구'], dtype='object')

In [ ]:
#시리즈의 데이터 속성
s.values

array([9904312, 3448737, 2890451, 2466052])

In [ ]:
#name 속성으로 데이터와 인덱스에 이름을 붙일 수 있다.
s.name = "인구"
s.index.name = "도시"
s

도시
서울    9904312
부산    3448737
인천    2890451
대구    2466052
Name: 인구, dtype: int64

## 시리즈 인덱싱

In [ ]:
s[1], s["부산"]

(3448737, 3448737)

In [ ]:
s[3], s["대구"]

(2466052, 2466052)

In [ ]:
s[[0, 3, 1]]

도시
서울    9904312
대구    2466052
부산    3448737
Name: 인구, dtype: int64

In [ ]:
s[["서울", "대구", "부산"]]

도시
서울    9904312
대구    2466052
부산    3448737
Name: 인구, dtype: int64

In [ ]:
s[(250e4 < s) & ( s < 500e4)] #인구가 250만 초과 500만 미만인 경우

도시
부산    3448737
인천    2890451
Name: 인구, dtype: int64

In [ ]:
#라벨 값이 영문 문자열인 경우 인덱스 라벨이 속성인것 처럼 점(.)을 이용하여 해당 인덱스 값에 접근 가능
s0 = pd.Series(range(3), index = ["a", "b", "c"])
s0

a    0
b    1
c    2
dtype: int64

In [ ]:
s0.a

0

## 시리즈와 딕셔너리 자료형

### 시리즈 객체는 라벨 값에 의해 인덱싱이 가능하므로 실질적으로 인덱스 라벨 값을 키(key)로 가지는 딕셔너리 자료형과 같다고 볼 수 있다. 따라서 딕셔너리 자료형에서 제공하는 in 연산도 가능하고 items 메서드를 사용하면 for 루프를 통해 각 원소의 키(key)와 값(value)을 접근할 수도 있다.

In [ ]:
"서울" in s  # 인덱스 라벨 중에 서울이 있는가

True

In [ ]:
"대전" in s  # 인덱스 라벨 중에 대전이 있는가

False

In [ ]:
for k, v in s.items():
    print("%s = %d" % (k, v))

서울 = 9904312
부산 = 3448737
인천 = 2890451
대구 = 2466052

In [ ]:
#딕셔너리 객체에서 시리즈를 만들 수도 있다.
s2 = pd.Series({"서울": 9631482, "부산": 3393191, "인천": 2632035, "대전": 1490158})
s2

서울    9631482
부산    3393191
인천    2632035
대전    1490158
dtype: int64

In [ ]:
#딕셔너리의 원소는 순서를 가지지 않으므로 순서를 정하고 싶다면 인덱스를 리스트로 지정한다.
s2 = pd.Series({"서울": 9631482, "부산": 3393191, "인천": 2632035, "대전": 1490158},
               index=["부산", "서울", "인천", "대전"])
s2

부산    3393191
서울    9631482
인천    2632035
대전    1490158
dtype: int64

## 인덱스 기반 연산
두 시리즈에 대해 연산을 하는 경우 인덱스가 같은 데이터에 대해서만 차이를 구한다.

In [ ]:
ds = s - s2
ds #자료가 없는 경우 계산이 불가하므로 NaN값을 가짐

대구         NaN
대전         NaN
부산     55546.0
서울    272830.0
인천    258416.0
dtype: float64

In [ ]:
#NaN이 아닌 값을 구하려면 notnull 메서드를 이용한다.
ds.notnull()

대구    False
대전    False
부산     True
서울     True
인천     True
dtype: bool

In [ ]:
ds[ds.notnull()] #대전과 대구는 빼고 나머지만 계산됨

부산     55546.0
서울    272830.0
인천    258416.0
dtype: float64

In [ ]:
#인구 증가율 구하기

rs = (s - s2) / s2 * 100
rs = rs[rs.notnull()]
rs

부산    1.636984
서울    2.832690
인천    9.818107
dtype: float64

##데이터의 갱신, 추가, 삭제

In [ ]:
rs["부산"] = 1.63
rs

부산    1.630000
인천    9.818107
대구    1.410000
dtype: float64

In [ ]:
rs["대구"] = 1.41
rs

부산    1.630000
인천    9.818107
대구    1.410000
dtype: float64

In [ ]:
del rs["인천"]
rs

부산    1.63
대구    1.41
dtype: float64