<a href="https://colab.research.google.com/github/younzk/rookie-projects/blob/main/4.4%20DataFrame_Indexing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#4.4 DataFrame Indexing

## loc Indexer
- df.loc[행 인덱싱값]
- df.loc[행 인덱싱값, 열 인덱싱값]

In [ ]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.arange(10, 22).reshape(3, 4),
                  index=["a", "b", "c"],
                  columns=["A", "B", "C", "D"])
df

    A   B   C   D
a  10  11  12  13
b  14  15  16  17
c  18  19  20  21

In [ ]:
df.loc["a"] #loc는 인덱스를 이용

A    10
B    11
C    12
D    13
Name: a, dtype: int64

In [ ]:
df.iloc[0] #iloc는 행번호를 이용

A    10
B    11
C    12
D    13
Name: a, dtype: int64

In [ ]:
df.loc["b":"c"]

    A   B   C   D
b  14  15  16  17
c  18  19  20  21

In [ ]:
df.loc[["b", "c"]]

    A   B   C   D
b  14  15  16  17
c  18  19  20  21

In [ ]:
df.loc[df.A > 15] #A의 값이 15보다 큰 행만 출력

    A   B   C   D
c  18  19  20  21

###인덱스 대신 인덱스 값을 반환하는 함수를 사용할 수 있다.

In [ ]:
def select_rows(df):
  return df.A > 15
select_rows(df)

a    False
b    False
c     True
Name: A, dtype: bool

In [ ]:
df.loc[select_rows(df)]

    A   B   C   D
c  18  19  20  21

##인덱싱값을 행과 열 모두 받는 경우

- df.loc[행 인덱스, 열 인덱스]
- df.loc[행 슬라이스, 열 슬라이스]

In [ ]:
df.loc["a", "A"]

10

In [ ]:
df.loc["b":, "A"] #슬라이싱도 사용 할 수 있다.

b    14
c    18
Name: A, dtype: int64

In [ ]:
df.loc["a", :]

A    10
B    11
C    12
D    13
Name: a, dtype: int64

In [ ]:
df.loc[["a", "b"],["B", "D"]]

    B   D
a  11  13
b  15  17

In [ ]:
df["A"]

a    10
b    14
c    18
Name: A, dtype: int64

In [ ]:
df.loc["a"]>10

A    False
B     True
C     True
D     True
Name: a, dtype: bool

In [ ]:
df.loc[df.A > 10, ["C", "D"]]

    C   D
b  16  17
c  20  21

##iloc 인덱서
- 라벨 대신 정수 인덱스만 받는다

In [ ]:
df.iloc[0, 1]

11

In [ ]:
df.iloc[0, -2:]

C    12
D    13
Name: a, dtype: int64

In [ ]:
df.iloc[-1] #인덱스가 하나만 들어가면 행을 선택한다.

A    18
B    19
C    20
D    21
Name: c, dtype: int64

In [ ]:
df.iloc[-1] = df.iloc[-1] * 2
df

    A   B   C   D
a  10  11  12  13
b  14  15  16  17
c  72  76  80  84