# 시리즈 만들기

In [1]:
import pandas as pd
s = pd.Series(['Wes McKinney', 'Creator of Pandas'])
print(s)
print('****'*10)
change_index = pd.Series(['Wes McKinney', 'Creator of Pandas'], index = ['Person', 'Who'])
print(change_index)

0         Wes McKinney
1    Creator of Pandas
dtype: object
****************************************
Person         Wes McKinney
Who       Creator of Pandas
dtype: object

# 데이터프레임 만들기
데이터프레임을 만들기 위해서는 딕셔너리를 DataFrame 클래스에 전달

In [2]:
scientists = pd.DataFrame({
    'Name' : ['Amy', 'Casey'],
    'Occupation' : ['Chemist', 'Statistician'],
    'Born' : ['1920-07-25', '1937-02-16'],
    'Died' : ['1958-04-16', '1960-03-25'],
    'Age' : [37, 61]}
)

print(scientists)

    Name    Occupation        Born        Died  Age
0    Amy       Chemist  1920-07-25  1958-04-16   37
1  Casey  Statistician  1937-02-16  1960-03-25   61

In [3]:
scientists = pd.DataFrame(
    data = {
    'Occupation' : ['Chemist', 'Statistician'],
    'Born' : ['1920-07-25', '1937-02-16'],
    'Died' : ['1958-04-16', '1960-03-25'],
    'Age' : [37, 61]},
    index = ['Amy', 'Casey'], #인덱스를 이름으로 정하기
    columns = ['Occupation', 'Born', 'Age', 'Died'] #열 이름 지정, 열의 순서도 column 리스트 안의 순서로 변경된다.
)

print(scientists)

         Occupation        Born  Age        Died
Amy         Chemist  1920-07-25   37  1958-04-16
Casey  Statistician  1937-02-16   61  1960-03-25

# 데이터프레임에서 시리즈 선택하기
loc속성에 인덱스를 전달

In [4]:
scientists = pd.DataFrame(
    data={'Occupation': ['Chemist', 'Statistician'], 
          'Born': ['1920-07-25', '1876-06-13'], 
          'Died': ['1958-04-16', '1937-10-16'],
          'Age': [37, 61]},
    index=['Rosaline Franklin', 'William Gosset'],
    columns=['Occupation', 'Born', 'Died', 'Age']) 

print(scientists)

first_row = scientists.loc['William Gosset']
print(type(first_row))
print(first_row)

                     Occupation        Born        Died  Age
Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
William Gosset     Statistician  1876-06-13  1937-10-16   61
<class 'pandas.core.series.Series'>
Occupation    Statistician
Born            1876-06-13
Died            1937-10-16
Age                     61
Name: William Gosset, dtype: object

# index, values, keys 사용하기

In [5]:
print(first_row.index) # 리스트로 나오므로 인덱싱처럼 이용할 수 있음
print(first_row.index[0])
print(scientists.index)

print('****'*10)

print(first_row.values)
print(first_row.keys()) #keys 메서드도 값이 리스트로 출력되므로 인덱싱 사용 가능
print(first_row.keys()[0])

Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')
Occupation
Index(['Rosaline Franklin', 'William Gosset'], dtype='object')
****************************************
['Statistician' '1876-06-13' '1937-10-16' 61]
Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')
Occupation

# 시리즈의 mean, min, max, std 메서드 사용하기
데이터가 정수일때 통계 메서드 사용 가능

In [6]:
ages = scientists['Age']
print(ages)
print(ages.mean())
print(ages.max())
print(ages.min())
print(ages.std())

Rosaline Franklin    37
William Gosset       61
Name: Age, dtype: int64
49.0
61
37
16.97056274847714

# 시리즈와 불린 추출 사용하기
불린 추출 : 데이터 추출 시 인덱스를 모르고 조건을 만족하는 값만 추출할 때 사용

In [7]:
import pandas as pd
scientists = pd.read_csv('../data/scientists.csv')

In [11]:
print(scientists)

                   Name        Born        Died  Age          Occupation
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

In [21]:
ages = scientists['Age']
print(ages.max())
print(ages.mean())

90
59.125

In [20]:
print(ages[ages > ages.mean()]) #ages 데이터프레임 중 평균보다 나이가 많은 사람의 나이 데이터만 출력

1    61
2    90
3    66
7    77
Name: Age, dtype: int64

In [29]:
manual_bool_values = [True, True, False, False, True, True, False, True] 
print(ages[manual_bool_values]) #bool값이 True인 데이터만 출력(0, 1, 4, 5, 7 인덱스)

0    37
1    61
4    56
5    45
7    77
Name: Age, dtype: int64

# 열의 자료형 바꾸기와 새로운 열 추가하기

In [24]:
print(scientists['Born'].dtype)
print(scientists['Died'].dtype)

object
object

In [26]:
#시간관련 작업을 할 수 있게 datetime 자료형으로 바꾸기
born_datetime = pd.to_datetime(scientists['Born'], format='%Y-%m-%d') 
print(born_datetime)

0   1920-07-25
1   1876-06-13
2   1820-05-12
3   1867-11-07
4   1907-05-27
5   1813-03-15
6   1912-06-23
7   1777-04-30
Name: Born, dtype: datetime64[ns]

In [27]:
#시간관련 작업을 할 수 있게 datetime 자료형으로 바꾸기
died_datetime = pd.to_datetime(scientists['Died'], format='%Y-%m-%d')
print(died_datetime)

0   1958-04-16
1   1937-10-16
2   1910-08-13
3   1934-07-04
4   1964-04-14
5   1858-06-16
6   1954-06-07
7   1855-02-23
Name: Died, dtype: datetime64[ns]

In [31]:
#날짜 데이터를 datetime 자료형으로 바꾼 열을 새롭게 추가
scientists['born_dt'], scientists['died_dt'] = (born_datetime, died_datetime)
print(scientists.head())
print(scientists.shape) #데이터프레임의 행, 열 형태 살펴보기(8, 5)에서 (8, 7)로 2개의 열 추가되었음

                   Name        Born        Died  Age    Occupation    born_dt  \
0     Rosaline Franklin  1920-07-25  1958-04-16   37       Chemist 1920-07-25
1        William Gosset  1876-06-13  1937-10-16   61  Statistician 1876-06-13
2  Florence Nightingale  1820-05-12  1910-08-13   90         Nurse 1820-05-12
3           Marie Curie  1867-11-07  1934-07-04   66       Chemist 1867-11-07
4         Rachel Carson  1907-05-27  1964-04-14   56     Biologist 1907-05-27

     died_dt
0 1958-04-16
1 1937-10-16
2 1910-08-13
3 1934-07-04
4 1964-04-14
(8, 7)

In [33]:
#시간계산하기
scientists['ages_days_dt'] = (scientists['died_dt'] - scientists['born_dt']) #새로운 'ages_days_dt'열에 얼마나 살았는지 계산하는 새로운 데이터 추가
print(scientists)

                   Name        Born        Died  Age          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

     born_dt    died_dt ages_days_dt
0 1920-07-25 1958-04-16   13779 days
1 1876-06-13 1937-10-16   22404 days
2 1820-05-12 1910-08-13   32964 days
3 1867-11-07 1934-07-04   24345 days
4 1907-05-27 1964-04-14   20777 days
5 1813-03-15 1858-06-16   16529 days
6 1912-06-23 1954-06-07   15324 days
7 1777-04-30 1855-02-23   28422 days

# 시리즈, 데이터프레임의 데이터 섞어보기

In [35]:
print(scientists['Age'])

0    66
1    56
2    41
3    77
4    90
5    45
6    37
7    61
Name: Age, dtype: int64

In [36]:
#random 라이브러리의 shuffle 메서드 활용해서 데이터 섞기
import random

random.seed(42)
random.shuffle(scientists['Age'])
print(scientists['Age'])

0    77
1    90
2    37
3    61
4    41
5    45
6    66
7    56
Name: Age, dtype: int64

# 데이터프레임의 열 삭제하기
drop 메서드 사용하기

In [39]:
print(scientists.columns)

scientists_dropped = scientists.drop(['Age'], axis = 1) #Age 열 삭제
print(scientists_dropped.columns)

Index(['Name', 'Born', 'Died', 'Age', 'Occupation', 'born_dt', 'died_dt',
       'ages_days_dt'],
      dtype='object')
Index(['Name', 'Born', 'Died', 'Occupation', 'born_dt', 'died_dt',
       'ages_days_dt'],
      dtype='object')

# 데이터프레임과 브로드캐스팅

In [25]:
print(scientists * 2)

                                       Name                  Born  \
0        Rosaline FranklinRosaline Franklin  1920-07-251920-07-25
1              William GossetWilliam Gosset  1876-06-131876-06-13
2  Florence NightingaleFlorence Nightingale  1820-05-121820-05-12
3                    Marie CurieMarie Curie  1867-11-071867-11-07
4                Rachel CarsonRachel Carson  1907-05-271907-05-27
5                        John SnowJohn Snow  1813-03-151813-03-15
6                    Alan TuringAlan Turing  1912-06-231912-06-23
7                  Johann GaussJohann Gauss  1777-04-301777-04-30

                   Died  Age                            Occupation
0  1958-04-161958-04-16   74                        ChemistChemist
1  1937-10-161937-10-16  122              StatisticianStatistician
2  1910-08-131910-08-13  180                            NurseNurse
3  1934-07-041934-07-04  132                        ChemistChemist
4  1964-04-141964-04-14  112                    BiologistBiologist
5  1858-06-161858-06-16   90                    PhysicianPhysician
6  1954-06-071954-06-07   82  Computer ScientistComputer Scientist
7  1855-02-231855-02-23  154            MathematicianMathematician